.idea/
scratch/
/hmmsvenv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distributions/packaging, from https://github.com/github/gitignore/blob/master/Python.gitignore
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Sphinx documentation
docs/_build/


# Jupyter Notebook
**/.ipynb_checkpoints
**/data
notebooks/nbexports/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/example_scripts/three_state_plots.svg
/example_scripts/three_state_six_steps.pt
/example_scripts/three_state_two_steps.pt
/example_scripts/tmats.npz
/example_scripts/binned_histograms.svg
